* {
  box-sizing: border-box;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
h1,
h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
input {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  padding: 8px 16px 8px;
  width: 100%;
  max-width: 360px;
  border: 1px solid #808080;
  border-radius: 4px;
}
input:hover {
  border: 1px solid #000;
}
button {
  border-radius: 8px;
  padding: 8px 16px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: 0px;
}
button:hover {
  background: #6c8cff;
}

label {
  color: inherit;
  font-family: inherit;
}

#categories {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item {
  border-radius: 8px;
  padding: 16px;
  background-color: #f6f6fe;
  max-width: 392px;
}

.item ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
}

.item li {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 100%;
  max-height: 40px;
}
.item > ul > li {
  padding: 8px 0 8px 16px;
}
.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 48px 24px;
}
#name-input {
  margin: 24px 0 16px;
}
.login-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 360px;
}
.login-form > label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.login-form > button {
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  margin-top: 16px;
}
.widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.change-color {
  width: 148px;
  height: 40px;
}
